In [76]:
# read library
import pandas as pd
import os

# read data
path="/Users/chloe/Desktop/ST445_Project"
os.chdir(path)
df1 = pd.read_csv('Time_series_data_1516.csv', sep=',')

In [77]:
# drop extra columns in dataframe
print(vars(df1)) # drop unnamed
df1.drop(df1.columns[[8,9,10,11,12,13,14,15]], axis=1, inplace=True)
df1.head(2)

{'is_copy': None, '_data': BlockManager
Items: Index(['Year', 'ONS_Code', 'Org_Code', 'Org_Name', 'Classification',
       'Metric_Primary', 'Metric_Secondary', 'Value', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')
Axis 1: RangeIndex(start=0, stop=462, step=1)
FloatBlock: slice(8, 16, 1), 8 x 462, dtype: float64
IntBlock: slice(7, 8, 1), 1 x 462, dtype: int64
ObjectBlock: slice(0, 7, 1), 7 x 462, dtype: object, '_item_cache': {}}

,Year,ONS_Code,Org_Code,Org_Name,Classification,Metric_Primary,Metric_Secondary,Value
0,2015/16,E92000001,ENG,England,FAE_Primary_Obesity,Gender,All persons,9929
1,2015/16,E92000001,ENG,England,FAE_Primary_Obesity,Gender,Male,2573

In [78]:
# sort the data by year, classification, metric_primary
df1 = df1.sort_index(by=['Year','Classification','Metric_Primary'])
df1.head(2)

# reset index because sort will change the order
df1.reset_index(drop=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)

,Year,ONS_Code,Org_Code,Org_Name,Classification,Metric_Primary,Metric_Secondary,Value
0,2002/03,E92000001,ENG,England,FAE_PrimarySecondary_Obesity,AgeGroup,16-24,912
1,2002/03,E92000001,ENG,England,FAE_PrimarySecondary_Obesity,AgeGroup,25-34,2288
2,2002/03,E92000001,ENG,England,FAE_PrimarySecondary_Obesity,AgeGroup,35-44,4371
3,2002/03,E92000001,ENG,England,FAE_PrimarySecondary_Obesity,AgeGroup,45-54,5661
4,2002/03,E92000001,ENG,England,FAE_PrimarySecondary_Obesity,AgeGroup,55-64,6721
5,2002/03,E92000001,ENG,England,FAE_PrimarySecondary_Obesity,AgeGroup,65-74,5391
6,2002/03,E92000001,ENG,England,FAE_PrimarySecondary_Obesity,AgeGroup,75+,2738
7,2002/03,E92000001,ENG,England,FAE_PrimarySecondary_Obesity,AgeGroup,Under 16,1117
8,2002/03,E92000001,ENG,England,FAE_PrimarySecondary_Obesity,Gender,All persons,29237
9,2002/03,E92000001,ENG,England,FAE_PrimarySecondary_Obesity,Gender,Male,12068
10,2002/03,E92000001,ENG,England,FAE_PrimarySecondary_Obesity,Gender,Female,17168
11,2002/03,E92000001,ENG,England,FAE_Primary_Obesity,AgeGroup,16-24,65
12,2002/03,E92000001,ENG,England,FAE_Primary_Obesity,AgeGroup,25-34,136
13,2002/03,E92000001,ENG,England,FAE_Primary_Obesity,AgeGroup,35-44,289
14,2002/03,E92000001,ENG,England,FAE_Primary_Obesity,AgeGroup,45-54,216
15,2002/03,E92000001,ENG,England,FAE_Primary_Obesity,AgeGroup,55-64,94
16,2002/03,E92000001,ENG,England,FAE_Primary_Obesity,AgeGroup,65-74,52
17,2002/03,E92000001,ENG,England,FAE_Primary_Obesity,AgeGroup,75+,23
18,2002/03,E92000001,ENG,England,FAE_Primary_Obesity,AgeGroup,Under 16,400
19,2002/03,E92000001,ENG,England,FAE_Primary_Obesity,Gender,All persons,1275
20,2002/03,E92000001,ENG,England,FAE_Primary_Obesity,Gender,Male,427
21,2002/03,E92000001,ENG,England,FAE_Primary_Obesity,Gender,Female,848
22,2002/03,E92000001,ENG,England,FCE_PrimarySecondary_Obesity_Bariatric,AgeGroup,16-24,7
23,2002/03,E92000001,ENG,England,FCE_PrimarySecondary_Obesity_Bariatric,AgeGroup,25-34,76
24,2002/03,E92000001,ENG,England,FCE_PrimarySecondary_Obesity_Bariatric,AgeGroup,35-44,139
25,2002/03,E92000001,ENG,England,FCE_PrimarySecondary_Obesity_Bariatric,AgeGroup,45-54,99
26,2002/03,E92000001,ENG,England,FCE_PrimarySecondary_Obesity_Bariatric,AgeGroup,55-64,21
27,2002/03,E92000001,ENG,England,FCE_PrimarySecondary_Obesity_Bariatric,AgeGroup,65-74,3
28,2002/03,E92000001,ENG,England,FCE_PrimarySecondary_Obesity_Bariatric,AgeGroup,75+,0
29,2002/03,E92000001,ENG,England,FCE_PrimarySecondary_Obesity_Bariatric,AgeGroup,Under 16,0
...,...,...,...,...,...,...,...,...
432,2015/16,E92000001,ENG,England,FAE_PrimarySecondary_Obesity,AgeGroup,45-54,84143
433,2015/16,E92000001,ENG,England,FAE_PrimarySecondary_Obesity,AgeGroup,55-64,94628
434,2015/16,E92000001,ENG,England,FAE_PrimarySecondary_Obesity,AgeGroup,65-74,94056
435,2015/16,E92000001,ENG,England,FAE_PrimarySecondary_Obesity,AgeGroup,75+,57081
436,2015/16,E92000001,ENG,England,FAE_PrimarySecondary_Obesity,AgeGroup,Under 16,3415
437,2015/16,E92000001,ENG,England,FAE_PrimarySecondary_Obesity,Gender,All persons,524725
438,2015/16,E92000001,ENG,England,FAE_PrimarySecondary_Obesity,Gender,Male,175401
439,2015/16,E92000001,ENG,England,FAE_PrimarySecondary_Obesity,Gender,Female,349279
440,2015/16,E92000001,ENG,England,FAE_Primary_Obesity,AgeGroup,16-24,372
441,2015/16,E92000001,ENG,England,FAE_Primary_Obesity,AgeGroup,25-34,1265
442,2015/16,E92000001,ENG,England,FAE_Primary_Obesity,AgeGroup,35-44,2148
443,2015/16,E92000001,ENG,England,FAE_Primary_Obesity,AgeGroup,45-54,2948
444,2015/16,E92000001,ENG,England,FAE_Primary_Obesity,AgeGroup,55-64,1790
445,2015/16,E92000001,ENG,England,FAE_Primary_Obesity,AgeGroup,65-74,638
446,2015/16,E92000001,ENG,England,FAE_Primary_Obesity,AgeGroup,75+,171
447,2015/16,E92000001,ENG,England,FAE_Primary_Obesity,AgeGroup,Under 16,597
448,2015/16,E92000001,ENG,England,FAE_Primary_Obesity,Gender,All persons,9929
449,2015/16,E92000001,ENG,England,FAE_Primary_Obesity,Gender,Male,2573
450,2015/16,E92000001,ENG,England,FAE_Primary_Obesity,Gender,Female,7356
451,2015/16,E92000001,ENG,England,FCE_PrimarySecondary_Obesity_Bariatric,AgeGroup,16-24,198
452,2015/16,E92000001,ENG,England,FCE_PrimarySecondary_Obesity_Bariatric,AgeGroup,25-34,941
453,2015/16,E92000001,ENG,England,FCE_PrimarySecondary_Obesity_Bariatric,AgeGroup,35-44,1639
454,2015/16,E92000001,ENG,England,FCE_PrimarySecondary_Obesity_Bariatric,AgeGroup,45-54,2160
455,2015/16,E92000001,ENG,England,FCE_PrimarySecondary_Obesity_Bariatric,AgeGroup,55-64,1201
456,2015/16,E92000001,ENG,England,FCE_PrimarySecondary_Obesity_Bariatric,AgeGroup,65-74,293
457,2015/16,E92000001,ENG,England,FCE_PrimarySecondary_Obesity_Bariatric,AgeGroup,75+,5
458,2015/16,E92000001,ENG,England,FCE_PrimarySecondary_Obesity_Bariatric,AgeGroup,Under 16,1
459,2015/16,E92000001,ENG,England,FCE_PrimarySecondary_Obesity_Bariatric,Gender,All persons,6438
460,2015/16,E92000001,ENG,England,FCE_PrimarySecondary_Obesity_Bariatric,Gender,Male,1418
461,2015/16,E92000001,ENG,England,FCE_PrimarySecondary_Obesity_Bariatric,Gender,Female,5020

In [79]:
# sum column by 'Clssification' & 'Metric_Primary'
df.groupby(['Country', 'Item_Code'])[["Y1961", "Y1962", "Y1963"]].sum()